*{font-size:9pt;border:0;margin:0;padding:0;}
body{
    font-family: '微软雅黑';
    margin: 0 auto;
    min-width: 980px;

}
.font-title-back {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

.line3 {
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #000;
    border-bottom-color: #000;
    border-left-color: #000;
}
.line2 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000;
    font-size: 14px;
}
.linleft {
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: #000;
    border-left-color: #000;
}
.formbody{padding:10px 18px;}
.forminfo{padding-left:23px;}
.toolbar{
    float: left;
    padding: 2px;
}
.toolbar li{background:url(/images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-right:5px;border-radius: 3px; cursor:pointer;}
.toolbar li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}


.bk {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000000;
}
.bk-top {	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #000000;
}
.bk0 {	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000000;
}
.bk1 {	border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000000;
}
.bk2 {	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}
.bx1 {	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}
.bk11 {	border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000000;
}