<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="/assembly/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/assembly/js2/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/plugins/element-ui/styles/index.css">
    <script src="/libs/jquery.min.js"></script>
    <script src="/plugins/jquery/jquery.json.min.js"></script>
    <script src="/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="/plugins/moment.min.js"></script>
    <script src="/js/common.js"></script>
</head>

<body>
<div class="place">
    <ul class="placeul">
        <li>
            <a href="#">首页</a>
        </li>
        <li>
            <a href="#">材质设置窗口</a>
        </li>
    </ul>
</div>
<div class="mainbox">
    <!-- elementUI 表格 -->
    <div id="app">
        <div >
            <el-form :inline="true" :model="searchForm" ref="searchForm" class="demo-form-inline" >

                <el-form-item label="形状">
                    <el-autocomplete
                            popper-class="my-autocomplete"
                            v-model="searchForm.shape"
                            :fetch-suggestions="shapeSearch"
                            placeholder="请输入内容"
                            @select="setSearchShape">
                        <i
                                class="el-icon-edit el-input__icon"
                                slot="suffix">
                        </i>
                        <template slot-scope="{ item }">
                            <div class="name">{{ item }}</div>
                        </template>
                    </el-autocomplete>
                </el-form-item>

                <el-form-item label="钢种">
                    <el-autocomplete
                            popper-class="my-autocomplete"
                            v-model="searchForm.steelGrade"
                            :fetch-suggestions="steelGradeSearch"
                            placeholder="请输入内容"
                            @select="setSearchSteelGrade">
                        <i
                                class="el-icon-edit el-input__icon"
                                slot="suffix">
                        </i>
                        <template slot-scope="{ item }">
                            <div class="name">{{ item }}</div>
                        </template>
                    </el-autocomplete>
                </el-form-item>

                        <el-form-item label="壁厚">
                            <el-input v-model="searchForm.wallThickness" ></el-input>
                        </el-form-item>
                <el-button-group>
                    <el-button type="primary" @click="searchTable()">搜索</el-button>
                    <el-button @click="resetSearch()">重置</el-button>
                </el-button-group>

            </el-form>
            <el-button-group>
                <el-button type="primary" @click="add()">新增</el-button>
                <el-button type="danger"  @click="del()">删除</el-button>
            </el-button-group>
        </div>
        <div style="margin-top: 5px;">
            <template>
                <!--列表-->
                <el-table :data="tableData" stripe border style="width: 90%" height="450"
                          @selection-change="handleSelectionChange">
                    <el-table-column fixed type="index" width="50">
                    </el-table-column>
                    <el-table-column type="selection" width="55">
                    </el-table-column>
                    <el-table-column prop="shape" label="形状">
                    </el-table-column>
                    <el-table-column prop="diameter1" label="直径1">
                    </el-table-column>
                    <el-table-column prop="diameter2" label="直径2">
                    </el-table-column>
                    <el-table-column prop="diameterInout" label="直接内外">
                    </el-table-column>
                    <el-table-column prop="wallThickness" label="壁厚">
                    </el-table-column>
                    <el-table-column prop="steelGrade" label="钢种">
                    </el-table-column>
                    <el-table-column prop="processingMethod" label="加工方法">
                    </el-table-column>
                    <el-table-column prop="minwallThickness" label="最小壁厚">
                    </el-table-column>
                    <el-table-column fixed="right" label="操作">
                        <template slot-scope="scope">
                            <el-button size="mini" type="primary" @click="show(scope.row)" icon="el-icon-view"
                                       circle></el-button>
                            <el-button size="mini" type="success" @click="edit(scope.row)" icon="el-icon-edit"
                                       circle></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
        </div>
        <!-- 分页 -->
        <div class="block" style="margin-top: 5px;width:90%">
            <el-pagination @current-change="changePage" background layout="prev, pager, next"
                           :total="pageData.total"
                           :page-size="pageData.pageSize"
                           :current-page="pageData.currentPage"></el-pagination>
        </div>
        <!-- 弹出层 -->
        <el-dialog title="材料参数" :visible.sync="dialogFormVisible">
            <el-form :model="dataForm" :rules="rules" ref="dataForm" label-width="80px">
                <el-input v-model="dataForm.id" v-if="false"></el-input>
                <el-row type="flex" class="row-bg">
                    <el-col :span="12">

                        <el-form-item label="形状" prop="shape">
                            <el-autocomplete
                                    popper-class="my-autocomplete"
                                    v-model="dataForm.shape"
                                    :fetch-suggestions="shapeSearch"
                                    placeholder="请输入内容"
                                    @select="setDataShape">
                                <i
                                        class="el-icon-edit el-input__icon"
                                        slot="suffix">
                                </i>
                                <template slot-scope="{ item }">
                                    <div class="name">{{ item }}</div>
                                </template>
                            </el-autocomplete>
                        </el-form-item>

                    </el-col>
                    <el-col :span="12">

                        <el-form-item label="加工方法" prop="processingMethod">
                            <el-autocomplete
                                    popper-class="my-autocomplete"
                                    v-model="dataForm.processingMethod"
                                    :fetch-suggestions="processingMethodSearch"
                                    placeholder="请输入内容"
                                    @select="setDataProcessingMethod">
                                <i
                                        class="el-icon-edit el-input__icon"
                                        slot="suffix">
                                </i>
                                <template slot-scope="{ item }">
                                    <div class="name">{{ item }}</div>
                                </template>
                            </el-autocomplete>
                        </el-form-item>

                    </el-col>
                </el-row>

                <el-row type="flex" class="row-bg">
                    <el-col :span="12">
                        <el-form-item label="最小直径" prop="diameter1">
                            <el-input v-model.number="dataForm.diameter1" placeholder="请输入内容"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="最大直径" prop="diameter2">
                            <el-input v-model.number="dataForm.diameter2" placeholder="请输入内容"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row type="flex" class="row-bg">
                    <el-col :span="12">
                        <el-form-item label="壁厚" prop="wallThickness">
                            <el-input v-model.number="dataForm.wallThickness" placeholder="请输入内容"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">

                        <el-form-item label="钢种" prop="steelGrade">
                            <el-autocomplete
                                    popper-class="my-autocomplete"
                                    v-model="dataForm.steelGrade"
                                    :fetch-suggestions="steelGradeSearch"
                                    placeholder="请输入内容"
                                    @select="setDataSteelGrade">
                                <i
                                        class="el-icon-edit el-input__icon"
                                        slot="suffix">
                                </i>
                                <template slot-scope="{ item }">
                                    <div class="name">{{ item }}</div>
                                </template>
                            </el-autocomplete>
                        </el-form-item>

                    </el-col>
                </el-row>

                <el-row type="flex" class="row-bg">
                    <el-col :span="12">
                        <el-form-item label="最小壁厚" prop="minwallThickness">
                            <el-input v-model.number="dataForm.minwallThickness" placeholder="请输入内容"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <div style="padding: 10px 0 0 40px">
                            <el-checkbox v-model="dataForm.diameterInout" label="1">内径标准</el-checkbox>
                        </div>

                    </el-col>
                </el-row>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="onSubmit" v-show="submitShow">提交</el-button>
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button @click="resetForm('dataForm')" v-show="submitShow">重置</el-button>
            </div>
        </el-dialog>
    </div>
</div>
<style>
    .el-select .el-input {
        width: 90px;
    }

    .input-with-select .el-input-group__prepend {
        background-color: #fff9fb;
    }
</style>
<script src="/plugins/element-ui/vue.js"></script>
<script src="/plugins/element-ui/index.js"></script>
<script src="/js/base/minThickness.js"></script>
</body>
</html>
